/node_modules
/public/hot
/public/storage
/public/ctc
/storage/*.key
/vendor
/kubernetes/prd/app/secrets.yaml
/kubernetes/prd/app/tls-secrets.yaml
/kubernetes/qa/app/secrets.yaml
/kubernetes/qa/app/tls-secrets.yaml
/kubernetes/dev/app/secrets.yaml
/kubernetes/dev/app/tls-secrets.yaml
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
