/node_modules
/public/hot
/public/storage
/storage/*.key
# /vendo
kubernetes/app/secrets.yaml
kubernetes/app/tls-secrets.yaml
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
