/@media screen and (-webkit-min-device-pixel-ratio:0)/
input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
    line-height: 0px !important;
}