input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 16px;
    width: 16px;
    border: 1px solid white;
}

input[type="checkbox"]:checked {
    background: red;
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}

input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: "";
}

input[type="checkbox"]:checked {
    background: red;
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}

input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: "";
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.block::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
/**/

input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
}

input[type="radio"]:checked {
    background: red;
}

input[type="radio"]:hover {
    filter: brightness(90%);
}

input[type="radio"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="radio"]:after {
    content: "";
}

input[type="radio"]:checked {
    background: red;
}

input[type="radio"]:hover {
    filter: brightness(90%);
}

input[type="radio"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="radio"]:after {
    content: "";
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

/* input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    line-height: 0px !important;
} */

.none {
    display: none;
}

.form-group {
    margin-bottom: 0px !important;
}

.iframe-pdf {
    width: 100%;
    height: 500px;
    padding: 30px;
}

.spacing-top {
    margin-top: 15px;
}

a:hover {
    text-decoration: none;
}

#link a {
    font-size: 12px;
    color: #808080;
}

#text-negrito {
    font-weight: bold;
    color: #ccc;
    font-size: 12px;
}

.autoria {
    margin-left: 17px;
}

.autoria {
    margin-left: 17px;
}

.area {
    color: #808080;
}

.text-pequeno span {
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
}

.text-big span {
    font-size: 30px;
    margin-top: 5px;
    color: #fff;
}
.imagem-univesp img {
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;
    margin-right: auto;
}

.text-user {
    margin-top: 5px;
}

.btn-danger {
    float: right !important;
}

.sair {
    font-weight: bold !important;
}
.cabecalho {
    padding: 5%;
    background-image: url(../img/fundo_cabecalho.jpg);
    background-image: no-repeat;
}
.font-cabecalho1 {
    font-size: 15px;
    color: #fff;
}

.font-cabecalho2 {
    font-size: 25px;
    color: #fff;
}

.formatacao-resumo {
    padding-bottom: 3%;
}

.vague-information {
    padding-left: 20px !important;
}

.link {
    border: none !important;
    border-bottom: solid 4px red !important;
}
a {
    color: #000;
}

.link-2 {
    font-weight: bold;
}

.posicao-imagem {
    width: 100%;
    padding: 50px 10px;
}

.texto-formatacao {
    margin-left: 4%;
    position: relative;
    top: -15px;
    color: #808080;
    font-weight: bold;
}

.botao-posicao {
    float: right;
    margin-top: -50px;
    padding: 10px 10px;
}

.fonte-conteudo {
    font-weight: bold;
}

.link-conteudo {
    color: red;
}

.fundo-label {
    background-image: url(../img/fundo_campo.jpg) !important;
    width: 100% !important;
    height: 100% !important;
}

.formatacao_doc {
    padding-top: 10px;
}

.formatacao-rodape {
    width: 100%;
}

.botao-posicao-form {
    float: right;
    padding-bottom: 20px;
}

.form_dados {
    padding-bottom: 4%;
}

/* texto justify */

.vaga {
    text-align: justify;
    font-weight: 500;
}

.box-100 {
    width: 100%;
}

.wrap {
    margin: 50px;
}

.msgFail {
    margin-top: 30px;
}

.wrap h3 {
    margin-bottom: 10px;
}

.central {
    margin: auto;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#prosseguir {
    margin-bottom: 30px;
}

.align-center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* css style */

.fonte-cabecalho {
    height: auto;
    min-width: 100%;
    background-size: cover;
    background-image: url(../img/banner.png);
}

.link3 {
    border: none !important;
    border-bottom: solid 4px red !important;
    font-weight: bold;
}

.formatacao-campos {
    padding: 10px !important;
    color: red;
}

.form-formatacao {
    margin-bottom: 8% !important;
}

.form-alinhamento {
    margin-left: 1.5%;
}

.form-input {
    margin-left: 1.5%;
    padding: 0 0 10px 0;
}

.form-alinhamento-2 {
    margin-right: 10%;
    color: #808080;
    font-weight: normal;
}

.form-linha {
    padding-bottom: 7%;
}

.cor-campo {
    color: red;
}

.fonte-campos {
    color: #808080;
    font-weight: normal;
}

.form-alinhamento-1 {
    margin-top: 2%;
}

#textNome {
    background-image: url(../img/fundo_campo.jpg);
}

.botao-form {
    margin-bottom: 8%;
}

#botao-submit {
    margin-left: 95%;
}

.form-checkbox {
    padding-top: 7%;
}

.form-checkbox1 {
    padding-left: 20%;
    margin-top: -1.5%;
}

.alinhamento-check {
    color: #808080;
    margin-left: 1.5%;
}

.opcao-alinhamento {
    padding: 0 10% 0 35%;
}

.formatacao_doc {
    margin-left: 70%;
}

.alinhamento-checkbox {
    margin-top: 10%;
}

.checagem {
    margin-bottom: 0.25% !important;
}

.alinhamento-checkbox_1 {
    padding-top: 6%;
}

.cadastro-incones {
    float: right !important;
}

.posicao-form-campos {
    padding-bottom: 1% !important;
}

.img-incones {
    float: right !important;
}

.alinhar-form {
    float: left !important;
}

.incone-lixeira {
    padding: 2% 0 0 4% !important;
}

.alinhamento-radio {
    padding: 0 2% 0 2%;
}

.checagem-radio {
    margin-bottom: 0%;
}

label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 10px !important;
}

.checkbox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.row {
    margin-right: 0px !important;
}

.btn {
    margin-bottom: 15px;
}

.form-control {
    padding: 6px 4px !important;
}

.dataYear {
    width: 161px;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .imagem-univesp {
        margin-top: 5%;
    }

    .text-pequeno span {
        font-size: 12px;
    }

    .text-big span {
        font-size: 20px;
    }
}

@media screen and (min-width: 415px) and (max-width: 519px) {
    .text-big span {
        font-size: 19px;
        margin-top: 5px;
        color: #fff;
    }
    .text-pequeno span {
        font-size: 15px;
        margin-top: 15px;
        color: #fff;
    }
}

@media screen and (min-width: 520px) and (max-width: 767px) {
    .text-big span {
        font-size: 25px;
        margin-top: 5px;
        color: #fff;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .text-pequeno span {
            font-size: 20px;
        }
        .text-big span {
            font-size: 35px;
        }
    }
}

.graduate-select {
    margin-top: 20px;
}

.btn-success {
    float: right !important;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}
.align-span {
    margin-left: 5px;
    margin-right: 5px;
}

.align-checkbox {
    margin: 0px 20px;
}

.reset-label {
    margin-bottom: 0px;
    margin-top: 0px;
}

.align-subtitle {
    margin-left: -15px;
    padding-bottom: 10px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}

.pagination > li > a,
.pagination > li > span {
    color: #333;
}
.copyright {
    font-size: 12px;
    text-align: center;
}
.copyright a,
.copyright i.fa {
    font-size: 15px;
}

.nav-tabs {
    border-bottom: 2px solid #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #f00 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #f00;
    height: 4px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #7d2421 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.order-card {
    color: #fff;
}

.bg-c-pink {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.card {
    border-radius: 5px;
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-block {
    padding: 25px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.text-right {
    text-align: right;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.ng-tns-c5-1 {
    font-weight: 600;
}

.icon {
    width: 25px;
    color: #fff;
}

.btn-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
    padding: 15px 150px;
    color: #e6e6e6;
}

.btn-red {
    background: linear-gradient(45deg, #ff5370, #ff869a);
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
}

/* ADMIN CLASS */
.profile-link {
    color: white;
}

.profile-link:hover {
    color: #c9302c;
}

.user-list-icon {
    padding-right: 10px;
}

.image-size {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
}

.pdf-size {
    width: 560px;
    height: 600px;
}

.pdf-buttom {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.pdf-buttom:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.pdf-buttom:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}
