/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    margin:0px;
    padding: 0px;
}

body.login {
    background: url("../img/background-login.png") right no-repeat;
    width:100%;
    background-size: cover;
}

body.login header .logo {
    margin: 15px 0 0 15px;
    display: inline-block;
    float: left;
}


main.centeredContent {
    height: 100vh;
}

.block {
    text-align: center;
    white-space: nowrap;
}

main {
    padding-top: 65px;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: normal;
}

section#login .loginBox {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

section#login .loginBox .logo {
    width: 100px;
    margin: -80px 0 15px;
}

img {
    max-width: 100%;
}
main .container {
    margin: 0 auto;
}

section#login .loginBox .login-header {
    height: 80px;
    margin-bottom: 15px;
}

section#login .loginBox .login-header h1 {
    font-weight: normal;
    color: #d13239;
    font-size: 20px;
}

section#login .loginBox .login-header h2 {
    font-weight: normal;
    color: #354551;
    font-size: 18px;
}

section#login .loginBox form .form-group {
    position: relative;
}

section#login .loginBox form .form-control {
    border: none;
    border-bottom: 1px solid #354551;
    padding: 6px 10px;
    font-size: 15px;
    color: #38303b;
    width: 100%;
    box-shadow: none !important;
    border-radius:0 !important;
}

section#login .loginBox form .form-control:focus + .form-control-placeholder, section#login .loginBox form :valid.form-control + .form-control-placeholder {
    font-size: 12px;
    transform: translate3d(0px, -100%, 0px);
    opacity: 1;
    color: #d13239;
}

section#login .loginBox form .form-control-placeholder {
    position: absolute;
    top: 0px;
    padding: 7px 0 0 0;
    transition: all 200ms;
    opacity: 1;
    left: 0px;
    color: #38303b;
    font-size: 15px;
}
section#login .loginBox form .step-footer {
    height: 33px;
    line-height: 33px;
    margin-top: 20px;
}

section#login .loginBox form .step-footer a {
    float: left;
    color: #d13239;
    text-decoration: none;
    font-size: 14px;
}

section#login .loginBox form .step-footer button {
    float: right;
    cursor: pointer;
}

.btn-red {
    background: #d13239;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    font-weight: 300;
    border: none;
    height: 40px;
}

section#login .loginBox form .step {
    display: none;
}

section#login .loginBox form .form-group {
    position: relative;
}

section#login .loginBox form #password {
    letter-spacing: 6px;
}

section#login .loginBox form .form-control:focus + .form-control-placeholder, section#login .loginBox form :valid.form-control + .form-control-placeholder {
    font-size: 12px;
    transform: translate3d(0px, -100%, 0px);
    opacity: 1;
    color: #d13239;
}

section#login .loginBox form .form-control-placeholder {
    position: absolute;
    top: 0px;
    padding: 7px 0 0 0;
    transition: all 200ms;
    opacity: 1;
    left: 0px;
    color: #38303b;
    font-size: 15px;
}

section#login .loginBox form .showPassword {
    padding: 0;
    border: none;
    background: transparent;
    position: absolute;
    top: 4px;
    right: 0px;
    cursor: pointer;
}

section#login .loginBox form .showPassword i {
    color: #627989;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga" 1;
}

section#login .loginBox form .showPassword .hide {
    display: none;
}

section#login .loginBox form .showPassword i {
    color: #627989;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga" 1;
}



@media all and (min-width:992px){
section#login .loginBox {
    margin: 0;
    width: 420px;
    padding: 30px;
}

section#login .loginBox form .step-footer a {
    font-size: 16px;
}

section#login .loginBox form {
    text-align: left;
}

section#login .loginBox form .step-footer {
    margin-top: 50px;
}

body.login header .logo {
    margin: 25px 0 0 25px;
}

body.login header .logo img {
    width: 160px;
}


}


