
input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
    line-height: 0px !important;
}

a:hover{
  text-decoration: none;
}

#link a{
    font-size: 12px;
    color: #808080;
}

.area{
  color: #808080;
}

.text-pequeno span{
    font-size: 20px;
    margin-top: 15px;
    color:#fff;
}

.text-big span{
    font-size: 30px;
    margin-top: 5px;
    color:#fff;
}
.imagem-univesp img{
    margin-top: 5%;
    margin-bottom:5%;
    float:right;
    margin-right: auto;
}

.text-user{
  margin-top: 5px;
}

.btn-danger{
	float: right !important;
	
}

.sair{
	font-weight: bold !important;
}
.cabecalho {
    padding: 5%;
    background-image: url(../img/fundo_cabecalho.jpg);
    background-image: no-repeat;
}
.font-cabecalho1 {
    font-size: 15px;
    color: #fff;
}

.font-cabecalho2 {
    font-size: 25px;
    color: #fff;
}

.formatacao-resumo {
    padding-bottom: 3%;
}

.vague-information {
    padding-left: 20px !important;
}

.link {
    border: none !important;
    border-bottom: solid 4px red !important;
}
a {
    color: #000;
}

.link-2 {
    font-weight: bold;
}

.posicao-imagem {
    width: 100%;
    padding: 50px 10px;
}

.texto-formatacao {
    margin-left: 4%;
    position: relative;
    top: -15px;
    color: #808080;
    font-weight: bold;
}

.botao-posicao {
    float: right;
    margin-top: -50px;
    padding: 10px 10px 40px 10px;
}

.fonte-conteudo {
    font-weight: bold;
}

.link-conteudo {
    color: red;
}

.fundo-label {
    background-image: url(../img/fundo_campo.jpg) !important;
    width: 100% !important;
    height: 100% !important;
}

.formatacao_doc {
    padding-top: 10px;
}

.formatacao-rodape {
    width: 100%;
}

.botao-posicao-form {
    float: right;
    padding-bottom: 20px;
}

.form_dados {
    padding-bottom: 4%;
}

/* texto justify */

.vaga {
    text-align: justify;
    font-weight: 500;
}

.box-100 {
    width: 100%;
}

.wrap {
    margin: 50px;
}

.wrap h3 {
    margin-bottom: 10px;
}

.central {
    margin: auto;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#prosseguir {
    margin-bottom: 30px;
}

.align-center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left{
    float: left;
}

/* css style */

.fonte-cabecalho {
    height: auto;
    min-width:100%;
    background-size:cover;
    background-image: url(../img/banner.png);
}

.link3 {
    border: none !important;
    border-bottom: solid 4px red !important;
    font-weight: bold;
}

.formatacao-campos {
    padding: 10px !important;
    color: red;
}

.form-formatacao {
    margin-bottom: 8% !important;
}

.form-alinhamento {
    margin-left: 1.5%;
}

.form-input {
    margin-left: 1.5%;
    padding: 0 0 10px 0;
}

.form-alinhamento-2 {
    margin-right: 10%;
    color: #808080;
    font-weight: normal;
}

.form-linha {
    padding-bottom: 7%;
}

.cor-campo {
    color: red;
}

.fonte-campos {
    color: #808080;
    font-weight: normal;
}

.form-alinhamento-1 {
    margin-top: 2%;
}

#textNome {
    background-image: url(../img/fundo_campo.jpg);
}

.botao-form {
    margin-bottom: 8%;
}

#botao-submit {
    margin-left: 95%;
}

.form-checkbox {
    padding-top: 7%;
}

.form-checkbox1 {
    padding-left: 20%;
    margin-top: -1.5%;
}

.alinhamento-check {
    color: #808080;
    margin-left: 1.5%;
}

.opcao-alinhamento {
    padding: 0 10% 0 35%;
}

.formatacao_doc {
    margin-left: 70%;
}

.alinhamento-checkbox {
    margin-top: 10%;
}

.checagem {
    margin-bottom: 0.25% !important;
}

.alinhamento-checkbox_1 {
    padding-top: 6%;
}

.cadastro-incones {
    float: right !important;
}

.posicao-form-campos {
    padding-bottom: 1% !important;
}

.img-incones {
    float: right !important;
}

.alinhar-form {
    float: left !important;
}

.incone-lixeira {
    padding: 2% 0 0 4% !important;
}

.alinhamento-radio {
    padding: 0 2% 0 2%;
}

.checagem-radio {
    margin-bottom: 0%;
}

label {
    margin-bottom:5px;
    margin-top: 10px;
    font-weight: 10 !important;
}

.checkbox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.row {
    margin-right: 0px !important;
}

.btn {
    margin-bottom: 15px;
}

.form-control {
	padding: 6px 4px !important;
}


.dataYear {
	
    width: 161px;
}

@media screen and (min-width:320px) and (max-width: 414px) {
    .imagem-univesp {
        margin-top: 5%;
    } 
    .text-pequeno span {
        font-size: 12px;
    }
    .text-big span {
        font-size: 20px;
    }
    
    
  }

  @media screen and (min-width:415px) and (max-width: 519px) {
    .text-big span {
        font-size: 19px;
        margin-top: 5px;
        color: #fff;
    }
    .text-pequeno span {
        font-size: 15px;
        margin-top: 15px;
        color: #fff;
    }
    
}

  @media screen and (min-width:520px) and (max-width: 767px) {
        .text-big span {
            font-size: 25px;
            margin-top: 5px;
            color: #fff;
        }
  }

  @media screen and (min-width:768px) and (max-width: 1024px) {
   
    .text-pequeno span {
        font-size: 20px;
    }
    .text-big span {
        font-size: 35px;
    }
    
    
  }
 
  
