apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: default
  labels:
    name: redis-service
spec:
  selector:
    app: redis
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis